@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Color Emoji";
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

@layer base {
  html {
    font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
      serif;
  }
}
