---
import { m } from "../../paraglide/messages.js";
import ParaglideTrans from "@components/ParaglideTrans.astro";
import { Picture } from "astro:assets";
import mockupImage from "@images/mockup.png";
---

<div class="prose lg:prose-lg mx-auto max-w-[48rem]">
  <h1>{m["about.about_confessit"]()}</h1>

  <p>
    <ParaglideTrans key="about.about_confessit_text" />
  </p>

  <a href="/">
    <Picture
      src={mockupImage}
      formats={["avif", "webp"]}
      alt="Screenshot of the ConfessIt app"
    />
  </a>

  <div class="not-prose w-full flex flex-wrap justify-center gap-8">
    <div class="card w-84 bg-base-200 card-md shadow-lg m-4">
      <div class="card-body flex flex-col">
        <div class="flex-1 flex flex-col justify-center">
          <blockquote class="text-xl flex-0 my-0 border-s-4 ps-4 italic">
            {m["about.testimonial_1"]()}
          </blockquote>
        </div>
        <div class="flex-0 text-right">
          {m["about.testimonial_1_author"]()}
        </div>
      </div>
    </div>

    <div class="card w-84 bg-base-200 card-md shadow-lg m-4">
      <div class="card-body flex flex-col">
        <div class="flex-1 flex flex-col justify-center">
          <blockquote class="text-xl flex-0 my-0 border-s-4 ps-4 italic">
            {m["about.testimonial_2"]()}
          </blockquote>
        </div>
        <div class="flex-0 text-right">
          {m["about.testimonial_2_author"]()}
        </div>
      </div>
    </div>

    <div class="card w-84 bg-base-200 card-md shadow-lg m-4">
      <div class="card-body flex flex-col">
        <div class="flex-1 flex flex-col justify-center">
          <blockquote class="text-xl flex-0 my-0 border-s-4 ps-4 italic">
            {m["about.testimonial_3"]()}
          </blockquote>
        </div>
        <div class="flex-0 text-right">
          {m["about.testimonial_3_author"]()}
        </div>
      </div>
    </div>

    <div class="card w-84 bg-base-200 card-md shadow-lg m-4">
      <div class="card-body flex flex-col">
        <div class="flex-1 flex flex-col justify-center">
          <blockquote class="text-xl flex-0 my-0 border-s-4 ps-4 italic">
            {m["about.testimonial_4"]()}
          </blockquote>
        </div>
        <div class="flex-0 text-right">
          {m["about.testimonial_4_author"]()}
        </div>
      </div>
    </div>
  </div>

  <h2>{m["about.about_this_app"]()}</h2>

  <p>
    <ParaglideTrans key="about.this_app_is_designed" />
  </p>

  <p>
    {m["about.please_be_respectful"]()}
  </p>

  <p>
    <ParaglideTrans key="about.this_website" />
  </p>

  <p>
    <ParaglideTrans key="about.if_you_find" />
  </p>

  <h2>{m["about.privacy"]()}</h2>
  <p>
    <ParaglideTrans key="about.information_you_enter" />
  </p>

  <h2>{m["about.history"]()}</h2>
  <p>
    <ParaglideTrans key="about.confessit_history" />
  </p>
  <p>
    <ParaglideTrans key="about.confessit_web_history" />
  </p>

  <h2>{m["about.open_source"]()}</h2>
  <p>
    <ParaglideTrans key="about.confessit_is_open_source" />
  </p>

  <h3>
    {m["about.can_i_help_with_translations"]()}
  </h3>
  <p>
    <ParaglideTrans key="about.confessit_is_translated" />
  </p>

  <h3>{m["about.can_i_help_write_code"]()}</h3>
  <p>
    <ParaglideTrans key="about.we_welcome_new_contributions" />
  </p>

  <h3>{m["about.about_the_developer"]()}</h3>
  <p>
    <ParaglideTrans key="about.mike_kasberg" />
  </p>

  <hr />

  <p class="text-sm">
    {m["about.information"]()}
  </p>
</div>
