---
import { m } from "../../paraglide/messages.js";
import ParaglideTrans from "@components/ParaglideTrans.astro";
---

<div class="prose lg:prose-lg mx-auto max-w-[48rem]">
  <h1>{m["about.about_confession"]()}</h1>

  <p>
    {m["about.about_confession_intro"]()}
  </p>
  <blockquote>
    <ParaglideTrans key="about.ccc_quote" />
  </blockquote>

  <p>
    <ParaglideTrans key="about.where_to_find" />
  </p>

  <p>
    {m["about.about_confession_end"]()}
  </p>
</div>
