---
import { m } from "../../paraglide/messages.js";
import ParaglideTrans from "@components/ParaglideTrans.astro";
---

<div class="prose mx-auto">
  <h1>{m["help.confessit_help"]()}</h1>

  <h2>{m["help.basic_usage"]()}</h2>

  <ol>
    <li>
      <ParaglideTrans key="help.step_1" />
    </li>
    <li>
      <ParaglideTrans key="help.step_2" />
    </li>
    <li>
      <ParaglideTrans key="help.step_3" />
    </li>
    <li>
      <ParaglideTrans key="help.step_4" />
    </li>
  </ol>

  <h2>{m["help.data_persistence"]()}</h2>

  <p>
    <ParaglideTrans key="help.data_persistence_text" />
  </p>
</div>
