---
import { m } from "../../paraglide/messages.js";
import ParaglideTrans from "@components/ParaglideTrans.astro";
---

<div class="prose lg:prose-lg mx-auto max-w-[48rem]">
  <h1>{m["prayers.prayers"]()}</h1>

  <ul>
    <li>
      <a href="#prayer-before-confession">
        {m["prayers.prayer_before_confession"]()}
      </a>
    </li>
    <li>
      <a href="#act-of-contrition">
        {m["prayers.act_of_contrition"]()}
      </a>
    </li>
    <li>
      <a href="#another-act-of-contrition">
        {m["prayers.another_act_of_contrition"]()}
      </a>
    </li>
    <li>
      <a href="#thanksgiving-after-confession">
        {m["prayers.thanksgiving_after_confession"]()}
      </a>
    </li>
    <li>
      <a href="#our-father">{m["prayers.our_father"]()}</a>
    </li>
    <li>
      <a href="#hail-mary">{m["prayers.hail_mary"]()}</a>
    </li>
    <li>
      <a href="#hail-holy-queen">{m["prayers.hail_holy_queen"]()}</a>
    </li>
  </ul>

  <h2 id="prayer-before-confession">
    {m["prayers.prayer_before_confession"]()}
  </h2>
  <p>
    <ParaglideTrans key="prayers.prayer_before_confession_text" />
  </p>

  <h2 id="act-of-contrition">
    {m["prayers.act_of_contrition"]()}
  </h2>
  <p>
    <ParaglideTrans key="prayers.act_of_contrition_text" />
  </p>

  <h2 id="another-act-of-contrition">
    {m["prayers.another_act_of_contrition"]()}
  </h2>
  <p>
    <ParaglideTrans key="prayers.another_act_of_contrition_text" />
  </p>

  <h2 id="thanksgiving-after-confession">
    {m["prayers.thanksgiving_after_confession"]()}
  </h2>
  <p>
    <ParaglideTrans key="prayers.thanksgiving_after_confession_text" />
  </p>

  <h2 id="our-father">
    {m["prayers.our_father"]()}
  </h2>
  <p>
    <ParaglideTrans key="prayers.our_father_text" />
  </p>

  <h2 id="hail-mary">
    {m["prayers.hail_mary"]()}
  </h2>
  <p>
    <ParaglideTrans key="prayers.hail_mary_text" />
  </p>

  <h2 id="hail-holy-queen">
    {m["prayers.hail_holy_queen"]()}
  </h2>
  <p>
    <ParaglideTrans key="prayers.hail_holy_queen_text" />
  </p>
</div>
