---
import Container from "@layouts/Container.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import { Picture } from "astro:assets";
import mockupImage from "@images/mockup.png";

changeLanguage("en");
---

<Container title={t("about.about_confessit", "About ConfessIt")}>
  <div class="prose lg:prose-lg mx-auto max-w-[48rem]">
    <h1>{t("about.about_confessit", "About ConfessIt")}</h1>

    <p>
      <Trans i18nKey="about.about_confessit_text">
        <b>ConfessIt</b> is a <a
          href="https://www.vatican.va/content/vatican/en.html"
          >Roman Catholic</a
        >
        examination of conscience for computers, tablets, and phones. It's designed
        to be <b>simple</b> and <b>easy to use</b>, and it can help you remember
        your sins when you go to confession. There's also a confession
        walkthrough that tells you exactly what the priest will say and how you
        should respond – a great resource if you haven't been to confession in a
        while! The examination of conscience is based on fundamental Catholic
        church teachings, is easy to understand, and is relevant for modern
        Catholics.
      </Trans>
    </p>

    <a href="/">
      <Picture
        src={mockupImage}
        formats={["avif", "webp"]}
        alt="Screenshot of the ConfessIt app"
      />
    </a>

    <div class="not-prose w-full flex flex-wrap justify-center gap-8">
      <div class="card w-84 bg-base-200 card-md shadow-lg m-4">
        <div class="card-body flex flex-col">
          <div class="flex-1 flex flex-col justify-center">
            <blockquote class="text-xl flex-0 my-0 border-s-4 ps-4 italic">
              {
                t(
                  "about.testimonial_1",
                  "This is making me feel so much more confident in knowing what to expect and what to say during confession.",
                )
              }
            </blockquote>
          </div>
          <div class="flex-0 text-right">
            {t("about.testimonial_1_author", "– Jessica")}
          </div>
        </div>
      </div>

      <div class="card w-84 bg-base-200 card-md shadow-lg m-4">
        <div class="card-body flex flex-col">
          <div class="flex-1 flex flex-col justify-center">
            <blockquote class="text-xl flex-0 my-0 border-s-4 ps-4 italic">
              {t("about.testimonial_2", "Used this, priest was in awe.")}
            </blockquote>
          </div>
          <div class="flex-0 text-right">
            {t("about.testimonial_2_author", "– Marc")}
          </div>
        </div>
      </div>

      <div class="card w-84 bg-base-200 card-md shadow-lg m-4">
        <div class="card-body flex flex-col">
          <div class="flex-1 flex flex-col justify-center">
            <blockquote class="text-xl flex-0 my-0 border-s-4 ps-4 italic">
              {
                t(
                  "about.testimonial_3",
                  "Great!!!! This app has been very helpful to me as a new convert to Catholicism.",
                )
              }
            </blockquote>
          </div>
          <div class="flex-0 text-right">
            {t("about.testimonial_3_author", "– Roy")}
          </div>
        </div>
      </div>

      <div class="card w-84 bg-base-200 card-md shadow-lg m-4">
        <div class="card-body flex flex-col">
          <div class="flex-1 flex flex-col justify-center">
            <blockquote class="text-xl flex-0 my-0 border-s-4 ps-4 italic">
              {
                t(
                  "about.testimonial_4",
                  "I found this app to really help me in preparing for confession. It really does help in remembering what you might need to confess.",
                )
              }
            </blockquote>
          </div>
          <div class="flex-0 text-right">
            {t("about.testimonial_4_author", "– Kendall")}
          </div>
        </div>
      </div>
    </div>

    <h2>{t("about.about_this_app", "About This App")}</h2>

    <p>
      <Trans i18nKey="about.this_app_is_designed">
        This app is designed to help Roman Catholics prepare for the sacrament
        of confession by examining their conscience. It is
        <strong>NOT</strong> a substitute for confession.
      </Trans>
    </p>

    <p>
      {
        t(
          "about.please_be_respectful",
          "Please be respectful of those around you when you use this app. I recommend that you turn your phone off when you're inside your church, and use this app before you arrive. If you do use this app inside your church or during confession, please ensure your phone is in silent mode.",
        )
      }
    </p>

    <p>
      <Trans i18nKey="about.this_website">
        This web app (<a href="/">confessit.app</a>) works on computers, phones,
        and tablets. It's based on the
        <a href="/about-confessit-android">ConfessIt Android App</a>
        (created in 2012 by the same developer).
      </Trans>
    </p>

    <p>
      <Trans i18nKey="about.if_you_find">
        If you find this app useful, please consider
        <strong>sharing it</strong> with your friends and family. Tell people about
        it on Facebook, Reddit, Twitter, at your church, or in your Bible study group
        to help spread the word!
      </Trans>
    </p>

    <h2>{t("about.privacy", "Privacy")}</h2>
    <p>
      <Trans i18nKey="about.information_you_enter">
        Information you enter into this app is only stored on your device. It is
        not sent over the internet. We are able to do this using a technology
        provided by your web browser called
        <a href="https://en.wikipedia.org/wiki/Web_storage">local storage</a>.
        We do not run Google Analytics or any other data collection mechanism on
        this site. Data you enter will be saved on your device until you hit
        <kbd class="kbd kbd-sm">Clear</kbd>
        even if you close the window or refresh the page.
      </Trans>
    </p>

    <h2>{t("about.history", "History")}</h2>
    <p>
      <Trans i18nKey="about.confessit_history">
        Mike Kasberg released the first version of <a
          href="/about-confessit-android">ConfessIt for Android</a
        > in 2012. He'd just graduated from the Colorado School of Mines, and wanted
        to get his feet wet with Android development. Since then, ConfessIt for Android
        has been installed more than 28,000 times and has a 4.7 star rating after
        more than 730 reviews.
      </Trans>
    </p>
    <p>
      <Trans i18nKey="about.confessit_web_history">
        In 2020, Mike released a new cross-platform version of ConfessIt here at <a
          href="/">confessit.app</a
        >, with the same core functionality as ConfessIt for Android. This new
        version is a progressive web app that works with any device – iOS,
        Android, or computer.
      </Trans>
    </p>

    <h2>{t("about.open_source", "Open Source")}</h2>
    <p>
      <Trans i18nKey="about.confessit_is_open_source">
        ConfessIt is open source. We develop the app on
        <a href="https://github.com/kas-catholic/confessit-web">GitHub</a> and we
        collaborate in the
        <a href="https://www.opensourcecatholic.com/chat"
          >Open Source Catholic</a
        > community on Slack.
      </Trans>
    </p>

    <h3>
      {t("about.can_i_help_with_translations", "Can I help with translations?")}
    </h3>
    <p>
      <Trans i18nKey="about.confessit_is_translated">
        ConfessIt is translated into multiple languages. If you'd like to help
        with this effort by adding a new translation or improving an existing
        translation, please read about how to do so on <a
          href="https://github.com/kas-catholic/confessit-web/blob/main/CONTRIBUTING.md#contributing-translations"
          >GitHub</a
        >
        or get in touch with us on <a
          href="https://www.opensourcecatholic.com/chat">Open Source Catholic</a
        >
        Slack.
      </Trans>
    </p>

    <h3>{t("about.can_i_help_write_code", "Can I help write code?")}</h3>
    <p>
      <Trans i18nKey="about.we_welcome_new_contributions">
        We welcome new contributions. If you'd like to contribute to ConfessIt,
        the best way to begin is by reading about how to do so on <a
          href="https://github.com/kas-catholic/confessit-web/blob/main/CONTRIBUTING.md"
          >GitHub</a
        >.
      </Trans>
    </p>

    <h3>{t("about.about_the_developer", "About the Developer")}</h3>
    <p>
      <Trans i18nKey="about.mike_kasberg">
        <a href="https://www.mikekasberg.com">Mike Kasberg</a> develops ConfessIt
        in his free time, as a way of giving back to the church. He is also involved
        in a few other small projects to support Catholic organizations with technology.
      </Trans>
    </p>

    <hr />

    <p class="text-sm">
      {
        t(
          "about.information",
          "Bible quotes in this app come from the Revised Standard Version of the Holy Bible, Second Catholic Edition. Information from the Catechism of the Catholic Church was also used.",
        )
      }
    </p>
  </div>
</Container>
