---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import ConfessIt from "@components/ConfessIt.jsx";

changeLanguage("en");
---

<Layout title="ConfessIt">
	<main>
		<ConfessIt client:load />
	</main>
</Layout>
