---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import ConfessIt from "@components/ConfessIt.jsx";

changeLanguage("en");
---

<Layout title="ConfessIt" bodyClass="h-screen overflow-hidden flex flex-col">
  <main class="flex-1 overflow-hidden">
    <!-- <ConfessIt client:load /> -->
    <ConfessIt client:only="react" />
  </main>
</Layout>
