---
import Container from "@layouts/Container.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");
---

<Container title="Prayers | ConfessIt">

  <div class="prose mx-auto">
    <h1 class="text-4xl">{t("prayers.prayers")}</h1>

    <h2 class="text-2xl" id="prayer-before-confession">
      {t("prayers.prayer_before_confession")}
    </h2>
    <p>
      <Trans i18nKey="prayers.prayer_before_confession_text">
        My Lord and God, I have sinned. I am guilty before you.
        <br />
        Grant me the strength to say to Your minister what I say to You
        in the secret of my heart.
        <br />
        Increase my repentance. Make it more genuine. May it really be a
        sorrow for having offended You and my neighbor rather than a
        wounded love of self.
        <br />
        Help me to atone for my sin. May the sufferings of my life and
        my little mortifications be joined with the sufferings of Jesus,
        Your Son, and cooperate in rooting sin from the world.
        <br />
        Amen.
      </Trans>
    </p>
  </div>
</Layout>
