.fab {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #aa0000;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  color: white;
  text-align: center;
  line-height: 3.5rem;

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  cursor: pointer;

  z-index: 100;
 }

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

/* TODO: Use bootstrap colors for this. After-click state is bad... */
.add-button {
  background-color: #aa0000;
}
.add-button:hover {
  background-color: #770000;
}