@import "./index.scss";

.App {
  text-align: center;
}
.full-screen-app {
  height: 100vh;
  overflow-y: hidden;
}

.btn {
  font-family: "Open Sans", sans-serif;
}

.navbar-brand {
  h1 {
    font-size: 2rem;
    font-family: "EB Garamond", serif;
    margin-bottom: 0;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: white;
      font-size: 1.4rem;
    }
  }

  .nav-link {
    color: white;
    font-size: 1.4rem;
  }
}

/* Make the container fill the window vertically, less the navbar.
 * This is required to make each column scroll independently. */
.navbar {
  height: 4rem;
  font-family: "Open Sans", sans-serif;
}
.column-container {
  height: calc(100% - 7rem);
}

/* 100% height to fill vertically so we can scroll columns. */
.swiper-container {
  height: 100%;
}
.swiper-wrapper {
  height: 100%;
}
.col-scroll {
  height: 100%;
  overflow-y: scroll;
  padding: 0 0 1rem;

  @media only screen and (min-width: $mobile-breakpoint) {
    padding: 0 1rem 3rem;
  }
}
