// Override default variables before the import
$body-bg: #f0dacc;
$body-color: #3c005a;
$primary: #3c005a;
$font-size-root: 18px;
$mobile-breakpoint: 376px;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Import Swiper
@import "swiper/css";

@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

body {
  font-family: "NotoColorEmojiLimited", "EB Garamond", serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: #afb6b9;
  }
  ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $primary;
  }

  // it can be assumed that screens are scrollable on mobile
  @media only screen and (max-width: $mobile-breakpoint) {
    ::-webkit-scrollbar {
      height: 0px;
      width: 0px;
    }
  }
}
b {
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  font-weight: 800;
}
h2 {
  margin: 0rem 0rem 3rem;
  color: $primary;
  font-size: 2em;
}
h3 {
  font-weight: 600;
}

blockquote {
  margin-left: 4rem;
}

@include media-breakpoint-down(lg) {
  .nav-link {
    background-color: $primary;
    border-top: 2px solid $white;
    border-radius: 6px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navbar-collapse {
    background-color: $white;
    border: 4px solid $white;
    border-top: 2px solid $white;
    border-radius: 8px;
  }
}

.anchor-pad {
  padding-top: 4rem;
}

textarea.form-control {
  background-color: #fff;
  &:focus {
    background-color: #fff;
  }
}
