// Override default variables before the import
$body-bg: #cea990;
$body-color: #4c1e00;
$primary: #800080;
$theme-colors: (
  "primary": #800080
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import Swiper
@import 'swiper/swiper.scss';

body {
  margin: 0;
  font-family: "EB Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}
b {
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2 {
  font-weight: 800;
}
h3 {
  font-weight: 600;
}

@include media-breakpoint-down(md) {
  .nav-link {
    background-color: $primary;
    border-top: 2px solid $white;
  }

  .navbar-collapse {
    border: 4px solid $white;
    border-top: 2px solid $white;
  }
}

.anchor-pad {
  padding-top: 4rem;
}
