.loading-container {
  position: absolute;
  top: calc(50% - 192px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

@keyframes flickerAnimation {
  0%   { opacity:0.1; }
  40%  { opacity:1; }
  60%  { opacity:1; }
  100% { opacity:0.1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:0.1; }
  40%  { opacity:1; }
  60%  { opacity:1; }
  100% { opacity:0.1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:0.1; }
  40%  { opacity:1; }
  60%  { opacity:1; }
  100% { opacity:0.1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0.1; }
  40%  { opacity:1; }
  60%  { opacity:1; }
  100% { opacity:0.1; }
}
.loading-image {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}
