@import "./index.scss";

.sin-list-item {
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  flex-direction: row;
  justify-content: space-between;
  color: $body-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.06);

  .btn {
    max-height: 2rem;
  }
}
@include media-breakpoint-down(md) {
  .sin-list-item {
    padding: 0.5rem 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
