---
import Layout from './Layout.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="container mx-auto">
    <slot />
  </div>
</Layout>
